################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Part1/ZooPark/ZooPark.Business/bin/Debug/netcoreapp3.1
